_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
/blog/nbproject/private/
/nbproject/private/
/testEncoding/nbproject/private/
/testEncoding/build/
/testEncoding/dist/